:root {
    --border-radius: 12.5vw;
}

.searchbar {
    border-radius: var(--border-radius);
    border: 1px solid rgb(225, 225, 231);
    -webkit-box-shadow: 0px 0px 7px -1px rgb(248, 249, 250);
    -moz-box-shadow: 0px 0px 7px -1px rgb(248, 249, 250);
    box-shadow: 0px 0px 7px -1px rgb(248, 249, 250);
}

.addon {
    background-color: white;
    border: none;
    font-size: clamp(10px, 1.15vw, 50px);
    color: var(--grey2-font-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 0.95vh 1.75vw;
}

.addonIcon {
    padding: 0.85vw;
    background-color: var(--blue-site-color);
    color: white;
    border-radius: 50%;
}

.input {
    background-color: white;
    border: none;
    font-size: clamp(10px, 1.15vw, 50px);
    font-family: var(--standard-font);
    font-weight: 600;
    color: var(--grey2-font-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 0.95vh 1.75vw;
}

.input::placeholder {
    color: var(--grey2-font-color);
    transition: all 0.4s ease;
}

.input:focus {
    background-color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.input:focus::placeholder {
    color: var(--blue-site-dark-color);
}
