.DashboardSuggestions {
    justify-content: space-between !important;
    align-items: flex-start !important;
    margin: 3vh 0px;
}

.ChartArea {
    border: none !important;
    background-color: transparent !important;
    margin: clamp(20px, 6vh, 100px) 0px clamp(15px, 4.5vh, 75px) 0px;
}

.ChartArea h2 {
    font-size: clamp(13px, 2vw, 52px);
    font-family: var(--standard-font);
    font-weight: 800;
    color: var(--dark-font-color);
    margin-bottom: clamp(7px, 1.05vh, 35px);
    cursor: default;
    width: 100%;
    text-align: start;
}

.FullPageIMG {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 4vw;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 1px solid rgb(246, 246, 250);
}
