.LoadingScreen {
    position: fixed;
    z-index: 999;
    background-color: rgb(247, 247, 247);
    right: 0px;
    width: calc(77% + 12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoadingIcon {
    margin-bottom: 6vh;
    font-size: clamp(32px, 6.5vw, 165px);
    color: var(--blue-site-dark-color);
}

.LoadingBar {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 5px !important;
}

.LoadingText {
    font-size: clamp(14px, 2vw, 60px);
    font-family: var(--standard-font);
    font-weight: 800;
    color: white;
    margin-top: 7.5vh;
    cursor: default;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow:
        0 0 5px var(--blue-site-dark-color),
        0 0 7px var(--blue-site-dark-color),
        0 0 10px var(--blue-site-dark-color),
        0 0 15px var(--blue-site-dark-color),
        0 0 21px var(--blue-site-dark-color),
        0 0 42px var(--blue-site-dark-color),
        0 0 62px var(--blue-site-dark-color),
        0 0 82px var(--blue-site-dark-color);
}